* {
    padding: 0;
    margin:0;
}

html {
    background-color: #fbf4e2;
}

section .top_bg {
    height: 6.42rem;
}

.coupon_list {
    padding-top: 0;
    padding-bottom: .38rem;
}

section .top_area {
    width: 100%;
    height: 10.05rem;
    background-image: url(../images/area_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.top_area .title {
    color: #A7682A;
    font-size: .3rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    width: 100%;
    position: relative;
    top: .6rem;
}

.top_area .title.has_tips {
    top: .4rem;
}

.top_area .tips {
    font-size: .24rem;
    font-weight: bold;
    color: #A7682A;
    text-align: center;
    position: absolute;
    top: .8rem;
    width: 100%;
}

section .top_area .area_box {
    position: absolute;
    width: calc(100% - 1.44rem);
    height: 7.92rem;
    top: 3.7rem;
    margin-top: -2.35rem;
    left: .72rem;
    font-size: 0;
}

.hide {
    display: none;
}

.top_area .food_box {
    font-size: 0;
    display: inline-block;
    width: 2.95rem;
    margin-right: .16rem;
    padding-bottom: .2rem;
    position: relative;
}

.top_area .food_box:nth-child(2n) {
    margin-right: 0;
}

.top_area .food_box img {
    width: 2.95rem;
    height: 2.95rem;
}

.top_area .food_box .name {
    line-height: 1;
    text-align: center;
    font-size: .26rem;
    color: #2C2B2B;
    padding: .2rem 0 .1rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top_area .food_box .price {
    line-height: 1;
    text-align: center;
    font-size: .26rem;
    color: #E80318;
    font-weight: bold;
}

.top_area .food_box .price span {
    font-size: .2rem;
    color: #999;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: .18rem;
}

.top_area .food_box .lable {
    position: absolute;
    left: 0;
    top: 0;
    height: .4rem;
    width: 1.76rem;
    font-size: .24rem;
    color: #fff;
    font-weight: 400;
    line-height: .4rem;
    text-align: center;
    background-color: rgba(167,104,42,1);
    border-bottom-right-radius: .2rem;
}

.top_area .food_box .lable span {
    font-weight: bold;
    font-size: .24rem;
    color: #fff;
    margin-left: .1rem;
}

.area {
    padding-top: .45rem;
    font-size: 0;
}

.area .coupon_box {
    height: 2.14rem;
    margin: 0 .32rem .32rem;
    background-image: url(../images/coupon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.area .coupon_box .price_box {
    position: absolute;
    width: 2.5rem;
    height: calc(100% - .2rem);
    padding: .1rem 0;
    left: .1rem;
    text-align: center;
}

.area .coupon_box .price_box .price {
    font-size: 1.33rem;
    color: #2C2B2B;
    font-weight: 400;
}

.area .coupon_box.disenable .price_box .price {
    color: #EAC7A4;
}

.area .coupon_box .right_box {
    position: absolute;
    width: calc(100% - 3.5rem);
    right: .8rem;
    height: calc(100% - .2rem);
    text-align: center;
    display: inline-block;
    padding: .1rem 0;
}

.area .coupon_box .right_box .tips_1 {
    font-size: .26rem;
    color: #333;
    font-weight: bold;
    padding-bottom: .2rem;
    line-height: 1;
    padding-top: .3rem;
}

.area .coupon_box.disenable .right_box .tips_1 {
    color: #666;
}

.area .coupon_box .right_box .tips_2 {
    font-size: .26rem;
    color: #333;
    font-weight: 400;
    line-height: 1;
    padding-bottom: .2rem;
}

.area .coupon_box.disenable .right_box .tips_2 {
    color: #666;
}

.area .coupon_box .right_box .tips_3 {
    font-size: .26rem;
    color: #333;
    font-weight: 400;
    line-height: 1;
    padding: .09rem .14rem;
    background-color: #DBAF83;
    display: inline-block;
}

.area .coupon_box.disenable .right_box .tips_3 {
    color: #666;
    background-color: #F5DEB6;
}

.area .coupon_box .btn {
    width: .3rem;
    height: auto;
    display: inline-block;
    font-size: .26rem;
    color: #fff;
    position: absolute;
    right: .3rem;
    top: 50%;
    margin-top: -.5rem;
}

.area .coupon_box.disenable .btn {
    opacity: .8;
}

.area .coupon_box .price_box .symbol {
    font-size: .3rem;
    color: #2C2B2B;
    font-weight: bold;
}

.area .coupon_box.disenable .price_box .symbol {
    color: #EAC7A4;
}

.area .coupon_box.disenable {
    background-image: url(../images/coupon_disenable.png);
}

.area .foods_box {
    height: 11.67rem;
    width: 100%;
    background-image: url(../images/area_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.area .foods_box .title {
    font-size: .3rem;
    font-weight: bold;
    color: #A7682A;
    text-align: center;
    position: absolute;
    top: .6rem;
    width: 100%;
    line-height: 1;
}

.area .foods_box .title.has_tips {
    top: .4rem;
}

.area .foods_box .tips {
    font-size: .24rem;
    font-weight: bold;
    color: #A7682A;
    text-align: center;
    position: absolute;
    top: .8rem;
    width: 100%;
}

.area .foods_box .scroll_box {
    position: absolute;
    width: calc(100% - 1.44rem);
    max-height: 9.3rem;
    left: .72rem;
    top: 1.4rem;
    overflow-y: scroll;
}

.scroll_box .food_box {
    font-size: 0;
    width: 2.95rem;
    display: inline-block;
    margin-bottom: .3rem;
    margin-right: .16rem;
}

.scroll_box .food_box:nth-child(2n) {
    margin-right: 0;
}

.scroll_box .food_box img {
    width: 2.95rem;
    height: 2.95rem;
}

.scroll_box .food_box .name {
    line-height: 1;
    text-align: center;
    font-size: .26rem;
    color: #2C2B2B;
    padding: .2rem 0 .1rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scroll_box .food_box .price {
    line-height: 1;
    text-align: center;
    font-size: .26rem;
    color: #E80318;
    font-weight: bold;
}

section .footer {
    padding: .5rem 0 .7rem;
    font-size: 0;
    text-align: center;
}

section .footer .tips {
    font-size: .24rem;
    color: #666;
    font-weight: 400;
    line-height: 1;
    padding-bottom: .2rem;
}

section .footer .back_home {
    margin: .2rem auto 0;
    width: 4.3rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    background-color: #DBAF83;
    font-size: .28rem;
    color: #333;
    font-weight: 400;
}

/* 弹窗 */
.popup_box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup_box .masked {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.popup_box .popup {
    position: absolute;
    width: 5.4rem;
    height: 8.28rem;
    background-image: url(../images/popup.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -4.14rem;
    left: 50%;
    margin-left: -2.7rem;
}

.popup_box .popup .close {
    width: .7rem;
    height: .7rem;
    background-image: url(../images/close.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    left: 50%;
    margin-left: -.35rem;
    position: absolute;
    bottom: -1.1rem;
}

.popup_box .popup .title {
    font-size: .5rem;
    color: #A16529;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 1.4rem;
    margin-bottom: .3rem;
    line-height: 1;
}

.popup_box .popup .tips {
    font-size: .3rem;
    color: #A16529;
    line-height: 1;
    font-weight: 400;
    text-align: center;
}

.popup_box .popup .price_box {
    margin-top: 1.55rem;
    text-align: center;
    font-size: 0;
    color: #A16529;
}

.popup_box .popup .price_box .price {
    font-size: 1.6rem;
    display: inline-block;
    line-height: 1;
}

.popup_box .popup .price_box .symbol {
    font-size: .3rem;
    display: inline-block;
    line-height: 1;
}

.popup_box .popup .btn {
    position: absolute;
    width: 100%;
    font-size: .32rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    bottom: 1rem;
}
/* 弹窗 end */

.scroll_box .food_box .price span {
    font-size: .2rem;
    font-weight: 400;
    color: #999;
    text-decoration: line-through;
    margin-left: .1rem;
}